<link rel="stylesheet" href="/static/style.css">
<div class="container"></div>
<h2>🏆 Leaderboard</h2>

<div class="leaderboard">
    {% for name, elo in players %}
    <div class="card 
    {% if movement and name in movement %}
        {% if movement[name] > 0 %}move-up
        {% elif movement[name] < 0 %}move-down
        {% endif %}
    {% endif %}
    ">
        <h3>#{{ loop.index }} {{ name }}</h3>

        <p>
            {{ elo }} ELO

            {% if delta and name in delta %}
                <span class="elo-change 
                    {% if delta[name] > 0 %}positive
                    {% elif delta[name] < 0 %}negative
                    {% endif %}
                ">
                    {% if delta[name] > 0 %}+{% endif %}{{ delta[name]|round(0) }}
                </span>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>

<br>
<a href="/">Back</a>
</div>
