<link rel="stylesheet" href="/static/style.css">
<div class="container"></div>
<h2>Play Match</h2>

<form action="/play-match" method="post">

    <p>Team 1</p>
    <select name="p1" required>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>

    <select name="p2" required>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>

    <p>Team 2</p>
    <select name="p3" required>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>

    <select name="p4" required>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>

    <br><br>

    <input type="number" name="score1" placeholder="Team 1 goals">
    <input type="number" name="score2" placeholder="Team 2 goals">

    <br><br>

    <button type="submit">Play</button>
</form>

<br>
<a href="/">Back</a>
</div>